@import 'setup';
@import 'chart-styles';
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
img,
section,
main,
figure,
article,
aside,
footer,
header {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow-x: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 107, 141, 1) 0%,
    rgba(0, 69, 91, 1) 90%
  );
  color: rgb(255, 255, 255);
}

main {
  background-color: black;
}

header {
  height: 100%;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: white;
  font-family: 'molle', sans-serif;
  margin: 0 12px;
}

h2 {
  font-size: 30px;
  color: white;
  font-family: 'raleway', sans-serif;
  margin: 35px 0;
}

p {
  color: white;
}

input[type='text'],
button {
  padding: 15px;
  margin: 0;
  outline: none;
  background-color: rgba($color: #fff, $alpha: 0.2);
  border-radius: 4px;
}

.search-box {
  min-width: 240px;
  color: white;
  margin-right: 20px;
  border: 2px solid transparent;
  &::placeholder {
    color: white;
  }
  &:focus {
    border-color: white;
  }
}

// footer styles
footer {
  padding: 10px 0;
  color: white;
  background: #333;

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;

    i {
      transition: color 0.2s;
      margin-left: 4px;
      margin-right: 4px;
      &:hover {
        color: rgba(14, 65, 207, 1);
      }
    }
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}

button {
  color: white;
  border: 2px solid transparent;
  transition: background-color 0.2s;
  &:hover {
    background: rgba($color: #fff, $alpha: 0.4);
    cursor: pointer;
  }
  &:focus {
    background: rgba($color: #fff, $alpha: 0.6);
  }
}
