@import url("https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* set a width for the entire barchart width */
svg {
  width: 75vw;
}

rect {
  fill: #98dbf0;
  -webkit-transition: 1s width;
  transition: 1s width;
}
rect:hover {
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
  fill: #00455b;
}

.labels {
  text-align: right;
  padding-right: 10px;
  /* set height to same as svg */
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.artist {
  /* height must be set to 10% (10 entries) */
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.song {
  font-size: 20px;
  font-weight: bold;
}

.ylabel {
  font-size: 20px;
  margin: 10px 0 50px;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
img,
section,
main,
figure,
article,
aside,
footer,
header {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow-x: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #006b8d 0%, #00455b 90%);
  color: white;
}

main {
  background-color: black;
}

header {
  height: 100%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: white;
  font-family: "molle", sans-serif;
  margin: 0 12px;
}

h2 {
  font-size: 30px;
  color: white;
  font-family: "raleway", sans-serif;
  margin: 35px 0;
}

p {
  color: white;
}

input[type=text],
button {
  padding: 15px;
  margin: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.search-box {
  min-width: 240px;
  color: white;
  margin-right: 20px;
  border: 2px solid transparent;
}
.search-box::-webkit-input-placeholder {
  color: white;
}
.search-box::-moz-placeholder {
  color: white;
}
.search-box:-ms-input-placeholder {
  color: white;
}
.search-box::-ms-input-placeholder {
  color: white;
}
.search-box::placeholder {
  color: white;
}
.search-box:focus {
  border-color: white;
}

footer {
  padding: 10px 0;
  color: white;
  background: #333;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
footer a i {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin-left: 4px;
  margin-right: 4px;
}
footer a i:hover {
  color: #0e41cf;
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

button {
  color: white;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
button:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
button:focus {
  background: rgba(255, 255, 255, 0.6);
}